<main class="containter">
  <div class="card m-4 p-4 text-center text-white" id="jumbo">
    <h1 class="display-4">Alpha Blog</h1>
    <p class="lead"> Welcome to Alpha Blog, this is a test app used for educational purposes.</p>
    <hr class="my-4">
    <div class="container m-4">
    <p> Click the link below to create an account</p>
    <a class="btn btn-success btn-lg" href="#" role="button">Sign up</a>
    </div>

  </div>
</main>