<main class="containter">
  <div class="card m-4 p-4 text-center text-white" id="jumbo">
    <h1>This is the Home Page</h1>

    <%= link_to 'View All Articles', articles_path %>

    <%= link_to 'About Page', about_path %>
  </div>
</main>