@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: black !important;
}

.nav-link {
  color: antiquewhite !important;
}

#logo { 
  color: antiquewhite !important;
  font-weight: bold;
}

#jumbo {
  background-image: asset-url("jumbo.jpg");
  background-position: center center;
  background-size: cover;
  height: 425px;
}