<h1 class="text-center mt-4">Create a new Category </h1>

<div class="container">

  <div class="row justify-content-center p-4">
    <div class="col-10">
      <%= render 'form' %>
    </div>
    <div class="mb-3">
      <%= link_to '[Cancel and return to category listing]', categories_path, class: "row justify-content-center" %>
    </div>
  </div>
</div>