<footer class="footer bg-dark text-white">
    <div class="container text-center">
        <span class="text-muted">Copyright &copy; <%= link_to "Walter McCone", "#", class: "text-white" %> </span>
    </div>
</footer>