<div class="container">
  <% flash.each do |name, msg| %>
    <% if name == "notice" %>
    <div class="alert alert-success alert-dismissable fade show" role="alert">
    <% else %>
    <div class="alert alert-danger alert-dismissable fade show" role="alert">
    <% end %>
      <%= msg %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
  <% end %> 
</div>